In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
smartwatch =pd.read_csv("unclean_smartwatch_health_data.csv")
smartwatch

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Actve,5

In [10]:
smartwatch.shape
smartwatch.columns

Index(['User ID', 'Heart Rate (BPM)', 'Blood Oxygen Level (%)', 'Step Count',
       'Sleep Duration (hours)', 'Activity Level', 'Stress Level'],
      dtype='object')

In [30]:
class smartwatch:
    def __init__(self,csv_path_file):
        self.df = pd.read_csv(csv_path_file)
        
    def get_data(self):
        return self.df
    def clean_data(self):
        return self.df.isnull(),self.df.drop_duplicates(inplace = True),self.df.dtypes
    def Step_Count (self):
        return self.df

In [36]:
s_w=smartwatch("unclean_smartwatch_health_data.csv")
s_w .get_data()
s_w.clean_data()
s_w.Step_Count()
s_w. get_data()["Step Count"]

0        5450.390578
1         727.601610
2        2826.521994
3       13797.338044
4       15679.067648
            ...
9995     2948.491953
9996     4725.623070
9997     2571.492060
9998     3364.788855
9999      544.696104
Name: Step Count, Length: 10000, dtype: float64